<form action="/groups/addEvent" method="POST">
    <label for="groupId">Group:</label>
    <select class="form-select mb-3" name="groupId" id="groupId">
        {{#each groups}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <input type="hidden" value="{{eventId}}" id="eventId" name="eventId">
    <input class="btn btn-primary" type="submit" value="Add Event">
    <input class="btn btn-secondary" type="button" id="AddEvent" value="Add Event">
</form>