<section class="text-bg-primary p-3 mx-auto align-items-around">
    <div class="vstack justify-content-center align-items-around">
        <div class="hstack gap-5">
            <h2>{{name}}</h2>
            <h1 >{{id}}</h1>
        </div>
        <h4>{{description}}</h4>
        <h4>{{events}}</h4>
    </div>
</section>