<header>
    <h1>
        <a href="/groups/search">Search</a>
    </h1>
    <h3>SECA IPW 2023/2024</h3>
    <nav>
        <a href="/groups">All groups</a>
        <a href="/events">Events</a>
    </nav>
</header>