<form method="POST" action="/groups">
    <div class="form-floating">
        <input
                class="form-control"
                aria-label="Name"
                type="text"
                name="name"
                value=""
                id="nameFloatingInput"
        >
        <label for="nameFloatingInput">Name</label>
    </div>
    <div class="form-floating">
        <textarea
                class="form-control"
                name="description"
                id="descriptionFloatingInput"
        ></textarea>
        <label for="descriptionFloatingInput">Describe this group here</label>
    </div>
    <input type="submit" value="Create group">
</form>