<div class="container text-center">
    <h1 class="my-5 display-1">Results search</h1>
    {{#each events}}
        <div class="justify-content-center align-items-center mb-5">
            <form action="/site/groups/addEvent" method="post" id="addEvent" class="row g-2">
                    {{> event}}
                    <input type="hidden" name="eventId" value="{{id}}">
                    <select name="groupId" class="form-select">
                        {{#each ../groups}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <button class="btn btn-primary" type="submit">Add Event</button>
            </form>
        </div>
    {{/each}}
</div>