<div class="d-flex flex-column justify-content-center align-items-center h-100">
    {{> header}}
    <h1>All groups</h1>
    <h2>Create a new group</h2>
    {{> groupForm btnAction="Create" action="/groups"}}

    <hr>

    <section>
        {{#each groups}}
            <section class="mb-3">
                {{> groupPartial}}
            </section>
        {{/each}}
    </section>
</div>
