<div class="d-flex flex-column align-items-center justify-content-center h-100">
    <h1 class="my-5 display-1">New group</h1>
    {{> groupForm btnAction="Create" action="/groups"}}

    <section>
        {{#each groups}}
            <section class="mb-3">
                {{> groupPartial}}
            </section>
        {{/each}}
    </section>
</div>
