<div class="d-flex flex-column text-center gap-5 container-fluid align-items-center mx-auto">
    <h1 class="my-5 display-1">Profile</h1>
    <div class="">
        <div class="row gap-2">
            <h2 class="mb-3 display-2">{{loggedUser.username}}'s profile</h2>
            <form class="mt-5" method="post" action="{{loggedBasePath}}/update">
                <div class="input-group mb-3">
                    <span class="input-group-text">Username</span>
                    <input name="username" class="form-control" type="text" autocomplete="username" required autofocus>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input name="password" class="form-control" type="password" autocomplete="current-password" required>
                </div>
                <button class="btn btn-primary" type="submit">Update</button>
            </form>
            <form method="post" action="{{loggedBasePath}}/delete">
                <button class="btn btn-danger mb-3" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>